[submodule "external/hnswlib"]
	path = external/hnswlib
	url = https://github.com/nmslib/hnswlib.git
	branch = master
[submodule "python-wrapper/pybind11"]
	path = python_wrapper/pybind11
	url = https://github.com/pybind/pybind11
	branch = v2.10
[submodule "external/vcpkg"]
	path = external/vcpkg
	url = https://github.com/microsoft/vcpkg
	branch = master
[submodule "external/HDILib"]
	path = external/HDILib
	url = https://github.com/biovault/HDILib
	branch = master
